server {
 server_name www.yoursite.com;
 
 error_page 401 /login;

 location / {
   auth_request /auth;
   # pass Set-Cookie headers from the subrequest response back to requestor
   auth_request_set $auth_cookie $upstream_http_set_cookie;
   add_header Set-Cookie $auth_cookie;

   auth_request_set $auth_status $upstream_status;

   #try_files $uri $uri/ /index.html;
   proxy_pass http://localhost:8000;
   proxy_http_version 1.1;
   proxy_set_header Upgrade $http_upgrade;
   proxy_set_header Connection keep-alive;
   proxy_set_header Host $host;
   proxy_cache_bypass $http_upgrade;
   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
   proxy_set_header X-Forwarded-Proto $scheme;
 }

 location = /auth {
   # internaly only, /auth can not be accessed from outside
   internal;

   # internal proxy to auth-server running on port 3000, responses expected from proxy:
   #   2xx response = access allowed via auth_request
   #   401 or 403 response = access denied via auth_request
   #   anything else = error
   proxy_pass http://localhost:3000;

   # don't pass request body to proxied server, we only need the headers which are passed on by default
   proxy_pass_request_body off;

   # there is no content length since we stripped the request body
   proxy_set_header Content-Length "";

   # let proxy server know more details of request
   proxy_set_header X-Original-URI $request_uri;
   proxy_set_header X-Original-Remote-Addr $remote_addr;
   proxy_set_header X-Original-Host $host;
 }

 # these are handled by the proxy as part of the auth routines
 location ~ ^/(login|logged-in|logout)$ {
   proxy_pass http://localhost:3000;
   proxy_set_header X-Original-URI $request_uri;
   proxy_set_header X-Original-Remote-Addr $remote_addr;
   proxy_set_header X-Original-Host $host;
 }

 # this CSS is used by the three requests above and is served by the proxy
 location = /css/skeleton.css {
  proxy_pass http://localhost:3000;
 }

 # optional location block
 # if you have other location blocks, be sure to add auth_request there too otherwise these requests won't get protected, for example
 location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
   expires 90d;
   log_not_found off;
   auth_request /auth;
   proxy_pass http://localhost:8000;
 }
}
